<div class="cambiar-password mt-4">
  <h2 class="font-bold">Cambio de contraseña del usuario EP/EPS</h2>
  <form class="d-flex flex-column gap-3" [formGroup]="form" (ngSubmit)="cambiarPassword()">
    <div class="d-flex flex-column gap-1">
      <label for="nuevaPassword">Nueva Contraseña:</label>
      <input type="text" readonly id="nuevaPassword" formControlName="nuevaPassword" pInputText/>
      <app-validate-inputs-form [form]="form"  formInput='nuevaPassword' labelInput="Contraseña">
      </app-validate-inputs-form>
    </div>
    <div class="d-flex gap-2 align-items-center">
      <p-button type="button" label="Generar clave" icon="pi pi-key" iconPos="left" class="p-button-secondary green-button" (click)="generarClaveAleatorio()">
      </p-button>
      <p-toast></p-toast>
      <p-button type="button" label="Copiar clave" icon="pi pi-copy" class="p-button-secondary ms-auto" (click)="copiarAlPortapapeles()">
      </p-button>
    </div>
    <br>
    <!-- esto se alica, en caso se desea generar manualmente la clave, el nuevo y el repetir clave-->
    <!--<div class="d-flex flex-column gap-1">
      <label for="confirmarPass">Repetir contraseña</label>
      <input type="password" id="confirmarPass" formControlName="repetirPassword" pInputText/>
    </div> -->
    <!--<div class="text-danger" *ngIf="form.errors?.passwordDiferente && (form.get('nuevaPassword').touched && form.get('repetirPassword').touched)">
      Las contraseñas no coinciden
    </div> -->
    <div class="d-flex gap-3">
      <button pButton label="Guardar contraseña" class="p-button-success" icon="pi pi-save" type="submit"></button>
      <button pButton class="p-button-secondary" label="Cancelar" type="button" (click)="cerrarModal.emit()"></button>
    </div>
  </form>
</div>
