<router-outlet></router-outlet>
<div style="text-align: center; margin-bottom: 20px;">
    <h2 style="margin-bottom: 20px;">Gráficos estadisticos VMA</h2>
    <p-dropdown 
      [options]="years" 
      [(ngModel)]="selectedYear" 
      placeholder="Seleccionar el año" 
      class="combobox-anio">
    </p-dropdown>
    <button pButton 
      type="button" 
      label="Aplicar" 
      (click)="applyFilter()" 
      style="margin-left: 10px;">
    </button>
  </div>

<!--<div id="GFG">  -->
<div class="grid p-fluid margin-container">   

    <div  class="card chart-card" style="width:70%;"><!-- style="width:60%;"-->
      <h3>Gráfico N° 1: Remisión de Información VMA Año actual, Según tamaño de la empresa</h3>
      <p-chart type="bar" [data]="basicData1" [options]="basicOptions"></p-chart>
    </div>
    <div class="card chart-card" style="width:70%;">
      <h3>Gráfico N° 2: Número de EP que implementaron la normativa VMA, Según tamaño</h3>
        <p-chart type="pie" [data]="pieChartData1" [options]="chartOptions"  ></p-chart><!--  [style]="{'width': '40%'}"-->
    </div>

    <div class="card chart-card" style="width:70%;"> <!-- style="width:60%;"-->
      <h3>Gráfico N° 3: Porcentaje de EP con área dedicada al monitoreo y control de los VMA, según tamaño de la EP. </h3>
        <p-chart type="bar" [data]="barChartDataSiNo"  
                 [options]="horizontalOptions"> 
       </p-chart> 
    </div> 
</div>

<!-- 
 <div class="grid p-fluid margin-container">
    <div class="col-12 lg:col-6">
      <div class="card chart-card">
        <h4>Grafico N°01: Remisión de Información VMA Año actual, Según tamaño de la empresa</h4>
        <p-chart type="bar" [data]="barChartData1" [style]="{'height': '300px'}"></p-chart>
      </div>
    </div>
    <div class="col-12 lg:col-6">
      <div class="card flex flex-column align-items-center chart-card">
        <h4 class="text-left w-full">Grafico N°02: Número de EP que implementaron la normativa VMA, Según tamaño</h4>
        <p-chart type="pie" [data]="pieChartData1" [style]="{'height': '300px'}"></p-chart>
      </div>
    </div>
    

    <div class="col-12 lg:col-6">
        <div class="card flex flex-column align-items-center chart-card">
          <h4 class="text-left w-full">Grafico N°03: Porcentaje de EP con área dedicada al monitoreo y control de los VMA, según tamaño de la EP.</h4>
          <p-chart type="bar" [data]="barChartData2" [options]="chartOptions"  [style]="{'height': '300px'}"></p-chart>
        </div>
      </div>


    <div class="col-12 lg:col-6">
      <div class="card flex flex-column align-items-center chart-card">
        <h4 class="text-left w-full">Grafico N°04: Número promedio de trabajadores dedicados a la implementación de los VMA, según tamaño de la EP. </h4>
        <p-chart type="pie" [data]="pieChartData2" [style]="{'height': '300px'}"></p-chart>
      </div>
    </div>
  </div>

-->


  <!-- <app-loading *ngIf="isLoading"></app-loading> -->