.margin-container {
  margin: 0 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
}

.chart-card {
  padding: 10px;
  width: 100%;
  height: 100%;
}

.chart-card p-chart {
  width: 100% !important;
  height: 100% !important;
}
.combobox-anio{
  width: 200px; display: inline-block;
}

.reporte ::ng-deep p-accordion p-accordiontab .p-accordion-header-link {  /*color de los tabs*/

    background: #5ec417 !important;
    border: 1px solid #5ec417 !important;
}

  /*color del la sombra en los bordes*/
.reporte ::ng-deep p-accordion p-accordiontab  .p-accordion-header:not(.p-disabled) .p-accordion-header-link:focus {
    box-shadow: 0 0 0 0.2rem #a6ffa6 !important;
}

  /*color del seleccionado*/
.reporte ::ng-deep p-accordion p-accordiontab .p-highlight .p-accordion-header-link {
    background: #58bf10 !important;
    border: 1px solid #58bf10 !important;
}


/* Estilo general para la tabla */
:host ::ng-deep .p-datatable table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  margin-top: 1rem;
}

/* Estilo para las cabeceras */
:host ::ng-deep .p-datatable thead th {
  background-color: #d9e6f2; /* Color de fondo de las cabeceras */
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  font-weight: bold;
}

/* Estilo para las celdas del cuerpo de la tabla */
:host ::ng-deep .p-datatable tbody td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

/* Estilo para la fila de totales */
:host ::ng-deep .p-datatable tfoot td {
  font-weight: bold;
  background-color: #f9f9f9; /* Color de fondo para la fila de totales */
}



/* Estilo para la cabecera */
:host ::ng-deep .p-datatable thead {
  border: 1px solid #ccc;
}

