<div class="grid">
    <div class="col-12">
      <p-fieldset [legend]="titleHeader" [toggleable]="false"
      [style]="{'min-width': '19rem', 'height':'100%'}" [collapsed]="false" >
        <form [formGroup]="registroForm">
            <div class="p-fluid grid formgrid">
              <div [class]="isEdition?'field col-12 md:col-4':'field col-12 md:col-4'">
                <label for="nombre" class="font-semibold w-6rem">Nombre</label>
                <input pInputText id="nombre" formControlName="nombre" class="w-full" autocomplete="off" />
                <app-validate-inputs-form [form]="registroForm" formInput='nombre' labelInput="Nombre">
                </app-validate-inputs-form>
              </div>
              <div [class]="isEdition?'field col-12 md:col-3':'field col-12 md:col-4'">
                <label for="regimen" class="font-semibold w-6rem">Regimen</label>
                <p-dropdown [options]="regimenOptions" formControlName="regimen" placeholder="Seleccionar Regimen"
                optionLabel="label" optionValue="value"></p-dropdown>
                <app-validate-inputs-form [form]="registroForm" formInput='regimen' labelInput="Regimen">
                </app-validate-inputs-form>
              </div>
              <div [class]="isEdition?'field col-12 md:col-3':'field col-12 md:col-4'">
                <label for="tipo" class="font-semibold w-6rem">Tipo</label>
                <p-dropdown [options]="tipoOptions" formControlName="tipo" placeholder="Seleccionar Tipo"
                optionLabel="label" optionValue="value"></p-dropdown>
                <app-validate-inputs-form [form]="registroForm" formInput='tipo' labelInput="Tipo">
                </app-validate-inputs-form>
              </div>
        
              <div class="field col-12 md:col-2" *ngIf="isEdition">
                <p><label for="tipo" class="font-semibold w-6rem">Estado</label></p>
                <p-inputSwitch  formControlName="estado" id="estado" ></p-inputSwitch>
              </div>
            </div>
            <div class="col-12 flex justify-content-center">
                <p-button type="button" label="Guardar" class="p-button-secondary green-button ml-1"
                  (click)="onCreateEmpresa()">
                </p-button>
                <p-button type="button" label="Cancelar" class="red-button ml-1"
                  (click)="onCancelAction()">
                </p-button>
            </div>
          </form>
          
        </p-fieldset>
    </div>
  </div>