:host ::ng-deep .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
    background: #007ad9;
    border-color: #007ad9;
    color: #ffffff;
}

.alert-info {
    background-color: #b6e6f0;
    color: #07272c;   /* Color del texto oscuro  */
    border-color: #abdde5;
    font-family: 'Arial', sans-serif;  /* Fuente moderna */
    text-align: center;
}