<router-outlet></router-outlet>
<div [hidden]="route.children.length !== 0">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 mt-2">
                    <div class="card pdn-15">
                        <div class="content">
                            <div class="col-md-12">
                                <div class="card-body p-0">
                                        <button class="btn btn-success mt-3 mb-4" (click)="onAddEmpresa()"><i class="pi pi-plus"></i>  Registrar</button><!-- redirectToForm() showModalDialog()-->
                                    <p-table #dt1
                                        [value]="pageable?.content || []"
                                        [rowHover]="true"
                                        dataKey="id"
                                        responsiveLayout="scroll"
                                        [paginator]="true"
                                        [rows]="size" [first]=""
                                        [totalRecords]="pageable?.totalElements || 0"
                                        [lazy]="true"
                                        [loading]="isLoading"
                                        [showCurrentPageReport]="true"
                                        [rowsPerPageOptions]="[10, 25, 50, 100]"
                                        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
                                        (onLazyLoad)="loadEmpresasLazy($event)"
                                        styleClass="p-datatable-customers p-datatable-gridlines p-datatable-sm"
                                    >
                                        <ng-template pTemplate="caption">
                                            Buscar:
                                            <span class="p-input-icon-left p-ml-auto">
                                                <i class="pi pi-search"></i>
                                                <input pInputText type="text" [formControl]="filterFC" placeholder="Ingresar texto" />
                                            </span>
                                        </ng-template>

                                        <ng-template pTemplate="header">
                                            <tr>
                                                <th style="width: 5%;text-align: center;">N°</th>
                                                <th style="text-align:center;width: 40%;">EPS</th>
                                                <th style="text-align:center;width: 14%;">REGIMEN</th>
                                                <th style="text-align:center;width: 14%;">TAMAÑO</th>
                                                <!-- <th style="width: 13%;">ESTADO</th> -->
                                                <th style="width: 10%;text-align: center;">EDITAR</th></tr>
                                        </ng-template>


                                        <ng-template pTemplate="body" let-item let-index="rowIndex">
                                            <tr *ngIf="pageable?.content?.length > 0">
                                                <td style="text-align: center;">{{index+1}}</td>
                                                <td style="text-align: center;">{{item.nombre}}</td>
                                                <td style="text-align: center;">{{item.regimen}}</td>
                                                <td style="text-align: center;">{{item.tipoEmpresa.nombre}}</td>
                                                <!--<td>
                                                    <p-tag styleClass="p-mr-2"
                                                        [style]="{'font-size': '14px', 'width': '100px', 'text-align': 'center'}"
                                                        [severity]="item.estado === true ? 'success' : 'danger'"
                                                        [value]="item.estado === true ? 'ACTIVO' : 'INACTIVO'">
                                                    </p-tag>
                                                </td>-->
                                                <td style="text-align:center">
                                                    <button pButton type="button" icon="pi pi-pencil" style="width: 30px; height: 20px;"
                                                        pTooltip="Editar registro" tooltipPosition="top" (click)="onEditEmpresa(item.idEmpresa)">
                                                    </button>
                                                </td>
                                            </tr>

                                        </ng-template>

                                        <ng-template pTemplate="emptymessage" let-columns>
                                            <tr >
                                                <td colspan="6" style="text-align: center;">No se encontraron registros.</td>
                                            </tr>
                                        </ng-template>
                                    </p-table>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<p-dialog [(visible)]="displayModaAdvice"  [modal]="true" [style]="{width: '40vw', height:'30vw'}">
  <div style="text-align: center;">
    <img  [src]="modalImage" style="width:50%"/>
  </div>
  <div style="text-align: center; font-weight: 600;">
    {{modalMessage}}
  </div>

    <ng-template pTemplate="footer">
      <div style="text-align: center;">
        <p-button type="button" label="Aceptar" class="ml-1 p-button-success"
          (click)="onAccept()" icon="pi pi-save" iconPos="left" *ngIf="isEdition">
        </p-button>
        <p-button type="button" icon="pi pi-times" iconPos="left" label="Aceptar" class="ml-1 p-button-success"
        [styleClass]="'p-button-danger'" (click)="onCancel()" *ngIf="!isEdition">
        </p-button>
      </div>

    </ng-template>
</p-dialog>