<div class="cambiar-password mt-4">
    <p-card header="Cambiar contraseña">
      <form class="d-flex flex-column gap-3" [formGroup]="form" (ngSubmit)="cambiarPassword()">
        <div class="d-flex flex-column gap-1">
          <label for="passActual">Contraseña actual</label>
          <input type="password" id="passActual" formControlName="passwordActual" pInputText/>
        </div>
        <div class="d-flex flex-column gap-1">
          <label for="nuevaPassword">Contraseña nueva</label>
          <input type="password" id="nuevaPassword" formControlName="nuevaPassword" pInputText/>
          <app-validate-inputs-form [form]="form"  formInput='nuevaPassword' labelInput="Contraseña">
          </app-validate-inputs-form>
        </div>
        <div class="d-flex flex-column gap-1">
          <label for="confirmarPass">Repetir contraseña</label>
          <input type="password" id="confirmarPass" formControlName="confirmarPassword" pInputText/>
        </div>
        <div class="text-danger" *ngIf="form.errors?.passwordDiferente && (form.get('nuevaPassword').touched && form.get('confirmarPassword').touched)">
          Las contraseñas no coinciden
        </div>
        <div class="d-flex gap-3">
          <button pButton label="Cambiar contraseña" icon="pi pi-save" type="submit"></button>
        </div>
      </form>
    </p-card>
  </div>