:host {
    .input-text {
        width: 350px;
    }

    .input-number {
        width: 200px;;
    }
    p-accordion p-accordiontab .p-accordion-header-link
    {
            background-color: #1087E5 !important;
            /*border: 1px solid green !important;*/
    }
}


.green-tab {
    background-color: green;
  }


  @media (max-width: 768px) {
    .form-group {
      margin-bottom: 1rem;
    }
  }

  