<router-outlet></router-outlet>
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 mt-2">
                <div class="card pdn-15">
                    <div class="content">
                        <div class="col-md-12">
                            <h2>Registrar Valores Maximos Admisibles</h2>
                            <!-- dynamic-form.component.html -->
                            <form [formGroup]="formularioGeneral" *ngIf="formularioGeneral">
                                <p-accordion  formArrayName="secciones">
                                  <p-accordionTab *ngFor="let seccion of seccionesForm().controls; let i = index" [formGroupName]="i" [header]="seccion.get('titulo').value" ><!--[ngClass]="{'custom-active-tab': seccionActiva === i}" (click)="seleccionarSeccion(i)"-->
                                    <div formArrayName="preguntas">
                                      <div class="d-flex flex-column mb-3" *ngFor="let pregunta of preguntasForm(seccion).controls; let j = index" [formGroupName]="j">
                                        <label class="mb-3">{{pregunta.get('texto').value}}</label>
                                        <ng-container [ngSwitch]="pregunta.value.tipoPregunta">
                                            <input *ngSwitchCase="'TEXTO'" type="text" class="input-text" pInputText formControlName="respuesta">
                                            <ng-container *ngSwitchCase="'NUMERICO'">
                                                <div class="d-flex gap-2 mb-4" *ngIf="alternativasForm(pregunta).controls.length > 0; else inputNumericoUnico">
                                                    <ng-container formArrayName="alternativas">
                                                        <div class="d-flex gap-2 align-items-center" *ngFor="let alternativa of alternativasForm(pregunta).controls; let k = index" [formGroupName]="k">
                                                          <label class="mb-0" >{{alternativa.get('nombreCampo').value}}</label>
                                                          <p-inputNumber class="input-number" formControlName="respuesta"></p-inputNumber>
                                                        </div>
                                                      </ng-container>
                                                </div>
                                                <ng-template #inputNumericoUnico>
                                                    <p-inputNumber class="input-number" formControlName="respuesta"></p-inputNumber>
                                                </ng-template>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'RADIO'">
                                                <div class="d-flex gap-3" >
                                                    <div class="d-flex align-items-center gap-1" *ngFor="let alternativa of alternativasForm(pregunta).controls; let j = index">
                                                        <p-radioButton 
                                                          [value]="alternativa.value.nombreCampo" 
                                                          [formControlName]="'respuesta'" 
                                                          [inputId]="alternativa.value.nombreCampo+i+j" 
                                                          (onClick)="onRadioButtonChange(seccion, alternativa.value.nombreCampo)"
                                                          >
                                                        </p-radioButton>
                                                        <label class="mb-0" [for]="alternativa.value.nombreCampo+i+j">{{alternativa.value.nombreCampo}}</label>
                                                    </div>
                                                </div>
                                            </ng-container>
                                        </ng-container>
                                      </div>
                                    </div>
                                    <!-- Botónes adjuntar en bootstrap-->
                                    <div *ngIf="i === seccionesForm().controls.length - 1" class="container mt-4">
                                      <form>
                                                          
                                        <div class="container">
                                          <div class="row">
                                              <div class="col-md-6">
                                                  <div class="form-group">
                                                      <div class="mb-3">
                                                          <label for="formFile1" class="form-label">Adjuntar (PDF)</label>
                                                          <input class="form-control" type="file" id="formFile1" accept=".pdf">
                                                      </div>
                                                      <p class="mt-2 text-muted">El tamaño máximo del archivo es de 5MB.</p>
                                                  </div>
                                              </div>
                                      
                                              <div class="col-md-6">
                                                  <div class="form-group">
                                                      <div class="mb-3">
                                                          <label for="formFile2" class="form-label">Adjuntar Informe Técnico (PDF/WORD) (Opcional)</label>
                                                          <input class="form-control" type="file" id="formFile2" accept=".pdf,.doc,.docx">
                                                      </div>
                                                      <p class="mt-2 text-muted">El tamaño máximo del archivo es de 20MB.</p>
                                                  </div>
                                              </div>
                                          </div>
                                      
                                          <div class="row">
                                              <div class="col-md-6">
                                                  <div class="form-group">
                                                      <div class="mb-3">
                                                          <label for="formFile3" class="form-label">Adjuntar formato (EXCEL)</label>
                                                          <input class="form-control" type="file" id="formFile3" accept=".xls,.xlsx">
                                                      </div>
                                                      <p class="mt-2 text-muted">El tamaño máximo del archivo es de 10MB.</p>
                                                  </div>
                                              </div>
                                      
                                              <div class="col-md-6">
                                                  <!-- Deja este espacio vacío para completar el diseño de 2x2 columnas -->
                                              </div>
                                          </div>
                                      </div>
                                      </form>
                                    </div>
                                  </p-accordionTab>
                                </p-accordion >
                                <div class="col-12 flex  justify-content-center">
                                    <p-button type="button" label="Guardar Progresivamente" class="p-button-success p-button-secondary green-button ml-1"
                                      (click)="guardadoParcial()"> <!--guardado progresivo, donde ningun campo es requerido, pero si el usuario no llena ningun dato, dar el aviso que no lleno nada, por ende no se guarda nada ni las fechas de registro-->
                                    </p-button>
                                    <p-button type="button" label="Registrar" class="p-button-success p-button-secondary green-button ml-1"
                                    (click)="guardadoCompleto()">  <!--guardado final, donde todos los campos son requeridos , exceptos algunos botones de adjuntar archivos-->
                                  </p-button>
                                    <p-button type="button" label="Cancelar" class="p-button-danger red-button ml-1"
                                    (click)="onCancelSave()" >
                                    </p-button>
                                  </div>
                              </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>