:host {
  .input-text {
      width: 350px;
  }

  .input-number {
      width: 200px;;
  }
}

:host ::ng-deep .p-accordion .p-accordion-header:not(.p-highlight):not(.p-disabled):hover .p-accordion-header-link {
  background-color: #27a0ff;
  border-color: #27a0ff;
  color: #ffffff;
}

:host ::ng-deep .p-accordion .p-accordion-header:not(.p-disabled).p-highlight:hover .p-accordion-header-link {
  background: #27a0ff;
  border-color: #27a0ff;
  color: #ffffff;
}

:host ::ng-deep .p-accordion .p-accordion-header:not(.p-disabled).p-highlight .p-accordion-header-link {
  background: #27a0ff;
  border-color: #27a0ff;
  color: #ffffff;
}