<div class="px-5 py-3">
    <div style="text-align: center; margin-bottom: 20px;">
      <h2 style="margin-bottom: 20px;">Lista de Anexos VMA </h2>
      <span>seleccionar el año:  </span>
      <p-dropdown
      [options]="years"
      [(ngModel)]="selectedYear"
      (onChange)="applyFilter()"
      placeholder="Seleccionar el año"
      class="combobox-anio">
    </p-dropdown>
    <!--<button pButton
            type="button"
            label="Actualizar"
            (click)="applyFilter()"
            style="margin-left: 10px;">
    </button> -->
    </div>

    <div>
      <h2>Anexo N° 01: Relación de las EP que remitieron información y/o implementaron normativa y/o remitieron informes de implementación de los VMA del año en curso.</h2>
      <p-table [value]="anexoRegistros" responsiveLayout="scroll">
        <ng-template pTemplate="header">
          <tr>
            <th>N°</th>
            <th>Empresa Prestadora</th>
            <th>Tamaño</th>
            <th>RAT</th>
            <th>EPS remitió información</th>
            <th>EPS remitió informe</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-anexo let-i="rowIndex">
          <tr>
            <td>{{i+1}}</td>
            <td>{{anexo.nombreEmpresa}}</td>
            <ng-container *ngIf="anexo.rowspan; else noRowspan">
              <td [attr.rowspan]="anexo.rowspan" class="text-center">{{anexo.tamanioEmpresa}}</td>
            </ng-container>
            <ng-template #noRowspan></ng-template>
            <td>{{anexo.esRAT ? 'SÍ' : 'NO'}}</td>
            <td>{{anexo.epsRemitioInformacion ? 'SÍ' : 'NO'}}</td>
            <td>{{anexo.epsRemitioInforme ? 'SÍ' : 'NO'}}</td>
          </tr>
        </ng-template>
      </p-table>

    </div>

  <div class="mt-4">
    <h2>Anexo N° 02: Relación de las EP que cuentan con un área destinada a la implementación de la norma VMA, y el número de trabajadores que se dedican a tiempo parcial o tiempo completo a la implementación de la norma VMA.</h2>

    <ng-container *ngIf="anexoRespondieronSi.length > 0; else noResults">
      <p-table [value]="anexoRespondieronSi" responsiveLayout="scroll">
        <ng-template pTemplate="header">
          <tr>
            <th>N°</th>
            <th>Empresa Prestadora</th>
            <th>Tamaño</th>
            <th>Área VMA</th>
            <th>N° trabajadores</th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-anexo let-i="rowIndex">
          <tr>
            <td>{{i+1}}</td>
            <td>{{anexo.nombreEmpresa}}</td>
            <ng-container *ngIf="anexo.rowspan; else noRowspan">
              <td [attr.rowspan]="anexo.rowspan" class="text-center">{{anexo.tamanioEmpresa}}</td>
            </ng-container>
            <ng-template #noRowspan></ng-template>
            <td>{{anexo.respuesta}}</td>
            <td>{{anexo.nroTrabajadores}}</td>
          </tr>
        </ng-template>
      </p-table>
    </ng-container>


  </div>


  <div class="mt-4">
    <h2>Anexo N° 03: Relación de las EP que han realizado avances en la inspección y/o inscripción en sus registros de los UND bajo su ámbito de influencia.</h2>
    <ng-container *ngIf="anexoUNDregistrados.length > 0; else noResults">
      <p-table [value]="anexoUNDregistrados" responsiveLayout="scroll">
        <ng-template pTemplate="header">
          <tr>
            <th>N°</th>
            <th>Empresa Prestadora</th>
            <th>Tamaño</th>
            <th>N° UND IDENTIFICADOS</th>
            <th>N° UND INSPECCIONADOS</th>
            <th>N° UND INSCRITOS EN EL REGISTRO DE UND</th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-anexo let-i="rowIndex">
          <tr>
            <td>{{i+1}}</td>
            <td>{{anexo.nombreEmpresa}}</td>
            <ng-container *ngIf="anexo.rowspan; else noRowspan">
              <td [attr.rowspan]="anexo.rowspan" class="text-center">{{anexo.tamanioEmpresa}}</td>
            </ng-container>
            <ng-template #noRowspan></ng-template>
            <td>{{anexo.nroUNDidentificados}}</td>
            <td>{{anexo.nroUNDinspeccionados}}</td>
            <td>{{anexo.nroUNDinscritos}}</td>
          </tr>
        </ng-template>
      </p-table>
    </ng-container>
  </div>

  <div class="mt-4">
    <h2>Anexo N° 04: Detalle de porcentaje de toma de muestra inopinada de las EP.</h2>
    <ng-container *ngIf="anexoTomaMuestrasInopinadas.length > 0; else noResults">
      <p-table [value]="anexoTomaMuestrasInopinadas" responsiveLayout="scroll">
        <ng-template pTemplate="header">
          <tr>
            <th>N°</th>
            <th>Empresa Prestadora</th>
            <th>Tamaño</th>
            <th>N° UND INSCRITOS EN EL REGISTRO DE UND</th>
            <th>N° MUESTRAS INOPINADAS </th>
            <th>% MUESTRA INOPINADA</th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-anexo let-i="rowIndex">
          <tr>
            <td>{{i+1}}</td>
            <td>{{anexo.nombreEmpresa}}</td>
            <ng-container *ngIf="anexo.rowspan; else noRowspan">
              <td [attr.rowspan]="anexo.rowspan" class="text-center">{{anexo.tamanioEmpresa}}</td>
            </ng-container>
            <ng-template #noRowspan></ng-template>
            <td>{{anexo.nroUNDinscritos}}</td>
            <td>{{anexo.nroMuestraInopinada}}</td>
            <td>{{anexo.porcentajeMuestraInopinada}}</td>
          </tr>
        </ng-template>
      </p-table>
    </ng-container>
  </div>

  <div class="mt-4">
    <h2>Anexo N° 05: Detalle de las EP que han realizado la evaluación de los VMA del Anexo 1 del reglamento de VMA.</h2>
    <ng-container *ngIf="anexoEvaluacionVmaAnexo1.length > 0; else noResults">
      <p-table [value]="anexoEvaluacionVmaAnexo1" responsiveLayout="scroll">
        <ng-template pTemplate="header">
          <tr>
            <th>N°</th>
            <th>Empresa Prestadora</th>
            <th>Tamaño</th>
            <th>N° MUESTRAS INOPINADAS </th>
            <th>N° UND QUE SOPREPASAN PARAMETROS DEL ANEXO 1</th>
            <th>N° UND FACTURADOS POR ANEXO 1</th>
            <th>N° UND QUE REALIZARON PAGO POR ANEXO 1</th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-anexo let-i="rowIndex">
          <tr>
            <td>{{i+1}}</td>
            <td>{{anexo.nombreEmpresa}}</td>
            <ng-container *ngIf="anexo.rowspan; else noRowspan">
              <td [attr.rowspan]="anexo.rowspan" class="text-center">{{anexo.tamanioEmpresa}}</td>
            </ng-container>
            <ng-template #noRowspan></ng-template>
            <td>{{anexo.nroMuestrasInopinadas}}</td>
            <td>{{anexo.nroUNDSobrepasanParametrosAnexo1}}</td>
            <td>{{anexo.nroUNDFacturadosPorAnexo1}}</td>
            <td>{{anexo.nroUNDRealizaronPagoPorAnexo1}}</td>
          </tr>
        </ng-template>
      </p-table>
    </ng-container>
  </div>


  <div class="mt-4">
    <h2>Anexo N° 06: Detalle de las EP que han realizado la evaluación de los VMA del Anexo 2 del reglamento de VMA.</h2>
    <ng-container *ngIf="anexoEvaluacionVmaAnexo2.length > 0; else noResults">
      <p-table [value]="anexoEvaluacionVmaAnexo2" responsiveLayout="scroll">
        <ng-template pTemplate="header">
          <tr>
            <th>N°</th>
            <th>Empresa Prestadora</th>
            <th>Tamaño</th>
            <th>N° MUESTRAS INOPINADAS </th>
            <th>N° UND QUE SOPREPASAN PARAMETROS DEL ANEXO 2</th>
            <th>N° UND CON PLAZO ADICIONAL </th>
            <th>N° UND CON ACUERDO SUSCRITO</th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-anexo let-i="rowIndex">
          <tr>
            <td>{{i+1}}</td>
            <td>{{anexo.nombreEmpresa}}</td>
            <ng-container *ngIf="anexo.rowspan; else noRowspan">
              <td [attr.rowspan]="anexo.rowspan" class="text-center">{{anexo.tamanioEmpresa}}</td>
            </ng-container>
            <ng-template #noRowspan></ng-template>
            <td>{{anexo.nroMuestrasInopinadas}}</td>
            <td>{{anexo.nroUNDSobrepasanParametrosAnexo2}}</td>
            <td>{{anexo.nroUNDConPlazoAdicional}}</td>
            <td>{{anexo.nroUNDSuscritoAcuerdo}}</td>
          </tr>
        </ng-template>
      </p-table>
    </ng-container>
  </div>


  <div class="mt-4">
    <h2>Anexo N° 07: Detalle de las EP que han realizado la atención de reclamos referidos a VMA.</h2>
    <ng-container *ngIf="anexoEPAtenciondeReclamosVMA.length > 0; else noResults">
      <p-table [value]="anexoEPAtenciondeReclamosVMA" responsiveLayout="scroll">
        <ng-template pTemplate="header">
          <tr>
            <th>N°</th>
            <th>Empresa Prestadora</th>
            <th>Tamaño</th>
            <th>N° UND INSCRITOS EN EL REGISTRO DE UND</th>
            <th>N° RECLAMOS POR VMA</th>
            <th>N° RECLAMOS RESUELTOS FUNDADOS</th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-anexo let-i="rowIndex">
          <tr>
            <td>{{i+1}}</td>
            <td>{{anexo.nombreEmpresa}}</td>
            <ng-container *ngIf="anexo.rowspan; else noRowspan">
              <td [attr.rowspan]="anexo.rowspan" class="text-center">{{anexo.tamanioEmpresa}}</td>
            </ng-container>
            <ng-template #noRowspan></ng-template>
            <td>{{anexo.nroUNDInscritos}}</td>
            <td>{{anexo.nroReclamosRecibidos}}</td>
            <td>{{anexo.nroReclamosFundados}}</td>
          
          </tr>
        </ng-template>
      </p-table>
    </ng-container>
  </div>
  

  <div class="mt-4">
    <h2>Anexo N° 08: Detalle de los costos de identificación, inspección y registro de los UND.</h2>
    <ng-container *ngIf="anexoEPAtenciondeReclamosVMA.length > 0; else noResults">
      <p-table [value]="anexoEPAtenciondeReclamosVMA" responsiveLayout="scroll">
        <ng-template pTemplate="header">
          <tr>
            <th>N°</th>
            <th>Empresa Prestadora</th>
            <th>Tamaño</th>
            <th>COSTO EN IDENTIFICACIÓN, INSPECCIÓN Y REGISTRO DE UND (S/)</th>
            <th>N° UND IDENTIFICADOS (CANT) </th>
            <th>COSTO ANUAL POR UND (S/)</th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-anexo let-i="rowIndex">
          <tr>
            <td>{{i+1}}</td>
            <td>{{anexo.nombreEmpresa}}</td>
            <ng-container *ngIf="anexo.rowspan; else noRowspan">
              <td [attr.rowspan]="anexo.rowspan" class="text-center">{{anexo.tamanioEmpresa}}</td>
            </ng-container>
            <ng-template #noRowspan></ng-template>
            <td>{{anexo.nroUNDInscritos}}</td>
            <td>{{anexo.nroReclamosRecibidos}}</td>
            <td>{{anexo.nroReclamosFundados}}</td>
          
          </tr>
        </ng-template>
      </p-table>
    </ng-container>
  </div>



  <ng-template #noResults>
    <p-message severity="info" text="No existen registros para este año"></p-message>
  </ng-template>

  </div>
