.container {
    width: 100%;
    margin:0px !important;
    padding: 0px !important;
    max-width: unset;
}
.row {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.background {
    width: 100%;
    height: 100vh; /* Ocupa toda la altura de la ventana */
    background: url(~src/assets/images/image-bg-login.jpeg);
    background-repeat: no-repeat;
    background-position: center center; /* Centra la imagen */
    background-size: 100% 100%; /* Ajusta la imagen para ocupar todo el contenedor sin recortes */
    /*box-shadow: inset 0 0 0 2000px rgba(51, 122, 183, 0.7);*/
    color: white;
    text-align: center;
}

.div-contenedor-to-center{
    display: flex; 
    justify-content: center; 
    align-items: center;
}

@media (min-width: 992px){
    .div-contenedor-to-center.col-lg-7 {
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }
}

.pfixed {
    position: absolute;
    top: 15px;
    left: 40px;
}

.titulo-centrado-v2 {
	
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.contenedor-my-titulo{
    padding: 10px;
}

.my-titulo{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 1.3em;
    line-height: 25px;
    
    text-align: center;
    letter-spacing: 0.15px;
    
    /*
    color: #F8F8F8;		
    */
    background-color: #F8F8F8;
    color: #0b6e95;
    padding: 8px 25px;
    border-radius: 15px;
    width: 295px;
}

#contenedorCabLogin{
    padding-top: 2%;
    padding-bottom: 8%;
}

@media (max-width: 992px) {
    #contenedorCabLogin {
        padding-top: 5%!important;
        padding-bottom: 5%!important;
    }
}

.azul-sunass-v2 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 24px;
    color: #0083C9;
}

.help-form{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    /* or 129% */
    
    text-align: center;
    letter-spacing: 0.15px;
    
    color: rgba(0, 0, 0, 0.55);
}

.mb-to-login-v1{
    margin-bottom: 2.2rem!important;
}

.mb-to-login-v2{
    margin-bottom: 1.9rem!important;
}

.input-form-login
{
    border-style: hidden;
    background: #F4F8F7;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: rgba(0, 0, 0, 0.5);
    border-radius:0px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    
    padding-bottom: 5px;
    height: 46px;
}

.input-form-login:focus
{
    border-style: hidden;
    background: #F4F8F7;
    border-color: #0083C9;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    box-shadow: none;
    border-radius:0px
}

.inputWithIcon .input-form-login{
    padding-left:40px
}

.inputWithIcon{
    position: relative;
}

.inputWithIcon i{
    position: absolute;
    left: 0;
    top: 5px;
    padding: 9px 8px 10px 11px;
    color: #aaa;
}

.inputWithIcon .input-form-login:focus + i{
    color: #0083C9;
}

.btn-custom-login {
    background: #066EC8;
    border-radius: 50px;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.alert-error-form{
    color: #F20000;
    font-family: 'Poppins';
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    border-radius: 4px;
    height: 80%;
}