<router-outlet></router-outlet>
<div [hidden]="route.children.length !== 0">
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 mt-2">
          

          <div class="card pdn-15" *ngIf="showResultados">
            <div class="content">
              <div class="card-body table-responsive p-0">
                <button class="btn btn-success mt-3 mb-3" (click)="addFichaRegistro()"><i class="pi pi-plus"></i> Registrar</button>
                <p-table #dt1 
                 [value]="ListFichasRegistro" 
                 dataKey="id"
                 [rows]="10"
                 [rowHover]="true"
                  [globalFilterFields]="['anio', 'fechaInicio', 'fechaFin']"
                  currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
                  responsiveLayout="scroll"
                  [showCurrentPageReport]="true"
                  [rowsPerPageOptions]="[10, 25, 50, 100]"
                  [paginator]="true"
                  styleClass="p-datatable-customers p-datatable-gridlines p-datatable-sm"
                  >
                  <ng-template pTemplate="caption">
                    Buscar:
                    <span class="p-input-icon-left p-ml-auto">
                      <i class="pi pi-search"></i>
                      <input pInputText type="text" (input)="onFilterTableGlobal(dt1, $event)" placeholder="Ingresar texto" />
                    </span>
                  </ng-template>

                  <ng-template pTemplate="header">
                    <tr>
                      <th style="text-align: center;width: 7%;">N°</th>
                      <th style="text-align: center;">Año</th>
                      <th style="width: 35%;text-align: center;">Fecha de inicio</th>
                      <th style="width: 35%;text-align: center;">Fecha de fin</th>
                      <th style="width: 10%;text-align: center;">Editar</th>
                    </tr>
                  </ng-template>

                  <ng-template pTemplate="body" let-item let-ri="rowIndex">
                    <tr>
                      <td style="text-align: center;">{{item.index}}</td>
                      <td style="text-align: center;">{{item.anio}}</td>
                      <td style="text-align: center;">{{item.fechaInicio}}</td>
                      <td style="text-align: center;">{{item.fechaFin}}</td>
                      <td style="text-align:center">
                        <button pButton type="button" icon="pi pi-pencil" style="width: 30px; height: 20px;"
                          pTooltip="Editar registro" tooltipPosition="top"
                          (click)="onEditFichaRegistro(item.idFichaRegistro)">
                        </button>
                      </td>
                    </tr>
                  </ng-template>
                </p-table>

                <!-- Move paginator directly below the table -->
                <!--<div style="padding: 0; margin-top: 10px;">
                  <p-paginator [first]="numeroPagina!" [rows]="paramsPagination.rows!" [totalRecords]="paramsPagination.pageCount!"
                    [rowsPerPageOptions]="[10, 25, 50, 100]" (onPageChange)="onQueryPageFicha($event)"
                    [showCurrentPageReport]="true" currentPageReportTemplate="Registros encontrados: {totalRecords}">
                  </p-paginator>
                </div> -->

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-loading *ngIf="isLoading"></app-loading>
