:host ::ng-deep .p-datepicker { 
   transform: scale(0.85);
}

/*.p-calendar {
  width: 80px;       
  height: 40px;       
  font-size: 14px;    
}

.p-calendar .p-datepicker {
  transform: scale(0.80);  
}*/


:host ::ng-deep .align-left .p-button-label {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

:host ::ng-deep .align-left .p-button-icon-left {
    margin-right: 0.5rem; /* Ajusta el margen según sea necesario */
}

:host ::ng-deep .align-left .p-button {
    justify-content: flex-start;
}

:host ::ng-deep .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
    background: #007ad9;
    border-color: #007ad9;
    color: #ffffff;
}

.registro-indisponible {
  margin-left: 10px; /* Ajusta el espacio entre el botón y el mensaje */
  font-size: 14px; /* Ajusta el tamaño de la fuente según tus necesidades */
  color: red; /* Cambia el color para dar visibilidad */
  vertical-align: middle; /* Alinea verticalmente el texto con el botón */
}

.custom-checkbox {
    transform: scale(1.5);
  }

  /* selector del mes y año */
  /* *** */

 

  .flex-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .plazo {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;  /* Tamaño de texto para información secundaria */
    font-weight: bold;
    color: #333;      /* Un color neutro para mantener la legibilidad */
  }
  
  .anio {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;  /* Tamaño de texto ligeramente mayor para resaltar */
    font-weight: bold; /* Un peso de fuente mayor para destacar el año */
    color: #333;
  }

  .card.pdn-15 {
    padding: 8px; /* O cualquier valor menor que 15px */
  }

  /* Estilo para el texto dentro del span */
.registro-indisponible {
  font-size: 14px;
  color: red;
  margin: 0;
  line-height: 1.5;
}
/* estilos para el label o button conel signo ? , para mostrar el mensaje en el tooltip*/
/* Estilos para los motivos en lista */
.motivos {
  list-style-type: disc;
  margin-left: 20px;
  padding-left: 10px;
  color: #555;
  font-size: 13px;
}

.motivos li {
  margin-bottom: 5px;
  color: red;
}

.circular-button {
  width: 50px; /* Establece el tamaño del círculo */
  height: 50px; /* Asegura que el círculo sea perfecto */
  border-radius: 50%; /* Hace el fondo circular */
  display: inline-flex; /* Flexbox para centrar el contenido */
  justify-content: center; /* Centra el contenido horizontalmente */
  align-items: center; /* Centra el contenido verticalmente */
  background-color: rgb(209, 209, 68); /* Fondo amarillo */
  color: black; /* Color del ícono dentro del círculo */
  font-size: 20px; /* Tamaño del ícono */
 /* cursor: pointer; /* Cambia el cursor a puntero */
  text-align: center; /* Alineación del texto (aunque no se usa texto aquí) */
}

.circular-button:hover {
  background-color: #ffcc00; /* Color cuando el cursor pasa por encima */
}

.circular-button i {
  margin: 0; /* Asegura que no haya márgenes extra alrededor del ícono */
}

/* Estilos para la lista dentro del tooltip */
.motivos {
  margin: 0;
  padding-left: 20px; /* Añade espacio a la izquierda para los ítems de la lista */
}

.motivos li {
  font-size: 12px;  /* Ajusta el tamaño de fuente de los ítems de la lista */
  margin-bottom: 5px;  /* Añade un espacio entre los ítems */
}

