<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 mt-2">

        <div class="card pdn-15" *ngIf="fichaRegistro?.fechaInicio && fichaRegistro?.fechaFin">
          <div class="card-header border-0">
            <div class="flex-container">
              <div class="plazo">Plazo de registro: del  {{ fichaRegistro?.fechaInicio }} al {{ fichaRegistro?.fechaFin }} </div>
              <div class="anio">Año de registro VMA : {{ fichaRegistro?.anio }} </div>
            </div>
          </div>
        </div>
        <!-- Filtros -->
        <div class="card pdn-15"  *ngIf="isRoleAdmin || isRoleConsultorSunass">
          <div class="border-0 text-center">
            <h2>Filtros de búsqueda</h2>
          </div>
          <div class="d-flex flex-wrap">
            <form [formGroup]="filtroForm"  class="d-flex flex-wrap gap-2">
              <div *ngFor="let field of ['eps', 'estado', 'fechaDesde', 'fechaHasta', 'anio']; let i = index">
                <div [ngSwitch]="field" >
                  <div>
                    <span class="p-float-label" *ngSwitchCase="'eps'">
                      <p-dropdown inputId="selEmpresa" [options]="empresasLista" placeholder="Seleccionar EP" formControlName="eps"
                                  [showClear]="true" [filter]="true"></p-dropdown>
                    </span>
                  </div>
                  <div>
                    <span class="p-float-label" *ngSwitchCase="'estado'">
                      <p-dropdown formControlName="estado" placeholder="Estado" [options]="estados">
                      </p-dropdown>
                    </span>
                  </div>
                  <div>
                    <span class="p-float-label" *ngSwitchCase="'anio'">
                      <p-dropdown formControlName="anio" [options]="years" placeholder="Año"></p-dropdown>
                    </span>
                  </div>
                  <div>
                    <span class="p-float-label" *ngSwitchCase="'fechaDesde'">
                                        <p-calendar  [monthNavigator]="true"
                                                    [yearNavigator]="true"
                                                    [yearRange]="'2000:2500'" inputId="fechaInicio" id="fechaDesde" dateFormat="dd-mm-yy" formControlName="fechaDesde"></p-calendar>
                      <label for="fechaDesde">Fecha Desde:</label>
                    </span>
                  </div>
                  <div>
                    <span class="p-float-label" *ngSwitchCase="'fechaHasta'">
                      <p-calendar [monthNavigator]="true"
                                  [yearNavigator]="true"
                                  [yearRange]="'2000:2500'" inputId="fechaHasta" id="fechaHasta" dateFormat="dd-mm-yy"  formControlName="fechaHasta" ></p-calendar>
                      <br>
                      <small *ngIf="filtroForm.get('fechaHasta').errors?.required" style="color: red;" >La fecha hasta es requerida</small>
                      <label for="fechaHasta">Fecha Hasta:</label>
                    </span>
                  </div>
                </div>
              </div>
              <div class="d-flex gap-2">
                <button pButton type="button" label="Buscar" icon="pi pi-search" (click)="buscar()" class="align-left"></button>
                <button pButton type="button" label="Limpiar" icon="pi pi-eraser" (click)="limpiar()" class="p-button-secondary"></button>
              </div>
              <div class="row mt-3">
                <div class="col-md-12">
                  <small *ngIf="filtroForm.errors?.fechaComparison" style="color: red;" >La fecha Hasta debe ser mayor o igual a la fecha Desde</small>
                </div>

              </div>
            </form>
          </div>
        </div>
        <!-- Botones:  Registrar  y  Descargar   excel -->
        <div *ngIf="isRoleRegistrador || isRoleAdmin || isRoleConsultorSunass" class="card pdn-15">
          <div class="card-header border-0"  style="display: flex; justify-content: space-between; align-items: center;">
            <div style="display: flex; align-items: center; gap: 10px;"> 
              <button class="btn btn-success mt-2 mr-2" *ngIf="isRoleRegistrador"
                      (click)="redirectToForm()"
                      [disabled]="registroCompleto"
                      [pTooltip]="registroCompleto ? 'No es posible registrar' : 'Nuevo registro VMA'"
                      tooltipPosition="top">
                <i class="pi pi-plus"></i> Ingresar Registro
              </button>
              
            <span *ngIf="registroCompleto && isRoleRegistrador" class="registro-indisponible">
                El boton no está habilitado por alguno de estos motivos:
                <ul class="motivos">
                  <li>Porque existe un registro VMA en curso.</li>
                  <li>Porque la fecha actual no está dentro del plazo de registro.</li>
                </ul>
              </span>

       
            </div>
            <div style="margin-left: auto;">
            <button pButton label="Descargar Reporte" pTooltip="Por defecto, se descargará todo el listado filtrado." tooltipPosition="top" class="p-button-success float-right" icon="pi pi-file-excel" iconPos="right"
                    *ngIf="isRoleAdmin || isRoleConsultorSunass"
                    (click)="descargar()"></button>
            </div>
          </div>
        </div>

        <div class="card pdn-15" *ngIf="showResultados">

          <div class="content">
            <div class="col-md-12">
              <div class="card-body p-0">

                <p-table #dt1 [value]="ListRegistroVMA"
                         [globalFilterFields]="['empresa.nombre', 'estado', 'empresa.tipo','empresa.regimen','created_at', 'fichaRegistro.anio']"
                         responsiveLayout="scroll"
                         [(selection)]="selectedRegistrosVMA"
                         dataKey="idRegistroVma"
                         [lazy]="true"
                         [paginator]="true"
                         [rows]="10"
                         [rowHover]="true"
                         [showCurrentPageReport]="true"
                         [totalRecords]="totalRecords"
                         [rowsPerPageOptions]="[10,25,50,100]"
                         (onLazyLoad)="buscar($event)"
                         currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
                         styleClass="p-datatable-customers p-datatable-gridlines p-datatable-sm">

                  <ng-template pTemplate="caption">
                    Buscar:
                    <span class="p-input-icon-left p-ml-auto">
                                      <i class="pi pi-search"></i>
                                      <input pInputText type="text" [formControl]="formBusqueda" placeholder="Ingresar texto" />
                                  </span>
                  </ng-template>
                  <ng-template pTemplate="header">
                    <tr>
                      <th style="width: 5%;" *ngIf="!(isRoleRegistrador)"><!-- antes isRoleRegistrador || isRoleConsultorEPS-->
                        <!--<input type="checkbox" class="custom-checkbox" [formControl]="formCheckBox"> -->
                      </th>
                      <th style="text-align:center;width: 5%;">N°</th>
                      <th style="width: 19%;">Empresa EP</th>
                      <th style="text-align:center;width: 13%;">Tamaño de la EP</th>
                      <th style="text-align:center;width: 10%;">Régimen</th>
                      <th style="text-align:center;width: 13%;">Estado</th>
                      <th style="width: 13%;">Fecha de registro</th>
                      <th style="text-align:center;width: 7%;">Año</th>
                      <th style="text-align:center;width: 8%;">Acciones</th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-item let-ri="rowIndex" let-first="first">
                    <tr>
                     <td *ngIf="!(isRoleRegistrador)"><!-- antes: *ngIf="!(isRoleRegistrador || isRoleConsultorEPS)-->
                       <p-tableCheckbox *ngIf="!isRoleRegistrador && (item.estado === estados[0]  || item.estado === estados[1] )" [value]="item"></p-tableCheckbox>
                      </td>

                      <td style="text-align:center;">{{ri + 1}}</td>
                      <td>{{item.empresa?.nombre}}</td>
                      <td style="text-align:center;">{{item.empresa.tipo}}</td>
                      <td style="text-align:center;">{{item.empresa.regimen}}</td>
                      <td style="text-align:center;">
                        <p-tag styleClass="p-mr-2"  [style]="{'font-size': '14px', 'width': '115px'}"
                        [severity]="item.estado === estados[0] ? 'success' : (item.estado === estados[1]?'warning':'danger')"
                        [value]="item.estado?item.estado:estados[2]">
                        </p-tag>
                      </td>
                      <td>{{item.createdAt | date: 'dd-MM-yyyy HH:mm:ss'}}</td>
                      <td style="text-align:center;">{{item.fichaRegistro.anio}}</td>
                      <td style="text-align:center" class="">
                        <div class="d-flex gap-2">
                          <button pButton type="button" *ngIf="item.estado" [icon]="isRoleRegistrador && item.estado !== estados[0] && item.vigente  ? 'pi pi-pencil' : 'pi pi-eye'" style="width: 30px; height: 20px;"
                                  [pTooltip]="isRoleRegistrador && item.estado !== estados[0] && item.vigente  ? 'Editar registro' : 'Visualizar registro'" tooltipPosition="top"
                                  (click)="redirectToFormUpdate(item.idRegistroVma)">
                          </button>
                          <button pButton type="button" style="width: 30px; height: 20px;"
                                  *ngIf="isRoleAdmin && item.estado === estados[0] "
                                  [pTooltip]="'Volver a habilitar'" tooltipPosition="top"
                                  [icon]="'pi pi-pencil'"
                                  (click)="cambiarEstadoIncompleto(item.idRegistroVma)">
                          </button>
                        </div>
                      </td>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="emptymessage" let-columns>
                    <tr>
                        <td [attr.colspan]="9" style="text-align: center;">
                            No se encontraron registros.
                        </td>
                    </tr>
                </ng-template>

                </p-table>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>