<div class="container">
  <div class="row">
    <!-- div 1-->
    <div class="d-none d-sm-none d-md-none d-lg-block col-lg-7 background">
      <div class="pfixed">
         <img src="./assets/images/logo-blanco.svg" style="height: 40px;">
      </div>
      <div class="titulo-centrado-v2 div-contenedor-to-center">
        <div class="contenedor-my-titulo">
          <h1 class="my-titulo col-md-12 col-lg-10 col-xl-10 offset-xl-1 offset-lg-1 text-center" >
            Sistema de Valores Máximos Admisibles
          </h1>
        </div>
      </div>
    </div>
     <!-- div 2-->
    <div class="col-sm-12 col-lg-5 div-contenedor-to-center">

      <div class="col-lg-6 col-lg-offset-3 col-sm-9 block-sesion">

        <div id="contenedorCabLogin">
          <div class="login-logo">
            <img src="./assets/images/isotipo-sunass.png" alt="isotipo sunass" style="max-width: 90px;">
          </div>
          <h2 class="text-center txt-colorblue">Cambiar contraseña</h2>

        </div>

        <form (ngSubmit)="cambiarPassword()" [formGroup]="form" *ngIf="token && !token.completo && !tokenExpirado">

          <div class="form-outline mb-to-login-v1 inputWithIcon">
            <input type="password" class="form-control form-control-lg input-form-login"
                   autofocus="autofocus" placeholder="Nueva contraseña" autocomplete="off" formControlName="nuevaPassword">
            <i class="fa fa-lock fa-lg fa-fw" aria-hidden="true"></i>
            <div class="text-danger" *ngIf="form.get('nuevaPassword')?.hasError('pattern') && form.get('nuevaPassword')?.touched">
              La contraseña debe tener entre 8 a 15 caracteres e incluir al menos una mayúscula, una minúscula, un número y un caracter especial.
            </div>
          </div>


          <div class="form-outline mb-to-login-v2 inputWithIcon" id="show_hide_password">
            <input type="password"  class="form-control form-control-lg input-form-login" placeholder="Repita contraseña" formControlName="repetirPassword">
            <i class="fa fa-lock fa-lg fa-fw" aria-hidden="true"></i>
            <div class="text-danger" *ngIf="form.get('repetirPassword')?.hasError('pattern') && form.get('repetirPassword')?.touched">
              La contraseña debe tener entre 8 a 15 caracteres e incluir al menos una mayúscula, una minúscula, un número y un caracter especial.
            </div>
          </div>

          <div class="text-danger" *ngIf="form.hasError('passwordMismatch') &&
                                          form.get('nuevaPassword').value !== form.get('repetirPassword').value">
            Las contraseñas deben de coincidir
          </div>

          <button class="btn btn-blue btn-custom-login btn-md btn-block paddinglr3 mt-5" type="submit" *ngIf="!cargando">Cambiar contraseña</button>

        </form>

        <div *ngIf="token">
          <ng-container *ngIf="token.completo">
            <div class="alert alert-info">
              Su contraseña ya ha sido actualizada.
            </div>
            <ng-container [ngTemplateOutlet]="volverInicio"></ng-container>
          </ng-container>
          <ng-container *ngIf="!token.completo && tokenExpirado">
            <div class="alert alert-default-warning">
              Se expiró el tiempo para cambiar su contraseña. Póngase en contacto con el equipo de soporte técnico.
              <!-- <a href="mailto:mesadeayuda@sunass.gob.pe" style="color: #007BFF; text-decoration: none;">mesadeayuda@sunass.gob.pe</a> -->
            </div>
            <ng-container [ngTemplateOutlet]="volverInicio"></ng-container>
          </ng-container>
        </div>

        <div *ngIf="!cargando && !token">
          <div class="alert alert-danger">
            Esta direccion URL no existe.
          </div>
          <ng-container [ngTemplateOutlet]="volverInicio"></ng-container>
        </div>

        <ng-template #volverInicio>
          <a [routerLink]="['/login']" style="text-decoration: underline;">Volver a iniciar sesión.</a>
        </ng-template>

        <div class="text-center pt-4">
          <div class="spinner-border text-primary" role="status" *ngIf="cargando">
            <span class="sr-only">Cargando...</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
