<router-outlet></router-outlet>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12 border rounded p-4">
      <h2 class="text-center mb-4">Edición de Usuarios</h2>
      <form [formGroup]="registroForm">
        <div style="width:100%; text-align: center;">
          <label class="form-label">Tipo de Usuario:</label>
        </div>
        <div class="p-fluid grid formgrid">
          <div class="field col-12 flex  justify-content-center">
            <p-radioButton name="tipo" value="SUNASS" formControlName="tipo" label="Sunass" (onClick)="onTipoUsuarioChange()" class="mr-4"></p-radioButton>  <!--  style="margin-right: 50px" , pendiente de ubicar este style en el css. sale error en la consola-->
            <p-radioButton name="tipo" value="EPS" formControlName="tipo" label="Empresa EPS" (onClick)="onTipoUsuarioChange()" class="ml-4"></p-radioButton>
          </div>

          <div class="field col-12 md:col-4">
            <label>Perfil <span style="color: #FA7272;" *ngIf="isFieldRequired('perfil')"> * </span></label>
                <p-dropdown inputId="perfil" [options]="perfiles" optionLabel="description"
                    optionValue="id" placeholder="Seleccionar" formControlName="perfil"
                    [showClear]="true">
                </p-dropdown>
                <app-validate-inputs-form [form]="registroForm" formInput='perfil' labelInput="Perfil">
                </app-validate-inputs-form>
          </div>
          <div class="field col-12 md:col-4" >
            <label>Usuario <span style="color: #FA7272;" *ngIf="isFieldRequired('usuario')"> * </span></label>
            <p-dropdown inputId="usuario" [options]="usuariosSunass" placeholder="Seleccionar"
              formControlName="usuario" [showClear]="true" [disabled]="isDropUsersDisable"
              [filter]="true" (onChange)="onUserChange($event)">
            </p-dropdown>
            <app-validate-inputs-form [form]="registroForm" formInput='usuario' labelInput="Usuario">
            </app-validate-inputs-form>
          </div>
          <div class="field col-12 md:col-4" >
            <label>Unidad Orgánica:</label>
            <input id="unidadOrganica" type="text" pInputText   formControlName="unidadOrganica" maxlength="30"  />
            <app-validate-inputs-form [form]="registroForm" formInput='unidadOrganica' labelInput="Unidad Orgánica">
            </app-validate-inputs-form>
          </div>
          <div class="field col-12 md:col-4">
            <label>Nombres <span style="color: #FA7272;" *ngIf="isFieldRequired('nombres')"> * </span></label>
            <input id="nombre" type="text" pInputText (input)="validateInputForm('nombres','alfabetico')"
              formControlName="nombres" maxlength="30" dirAlphabeticInput autocomplete="off" />
            <app-validate-inputs-form [form]="registroForm" formInput='nombres' labelInput="Nombres">
            </app-validate-inputs-form>
          </div>
          <div class="field col-12 md:col-4">
            <label>Apellidos <span style="color: #FA7272;" *ngIf="isFieldRequired('apellidos')"> * </span></label>
            <input id="apellidos" type="text" pInputText (input)="validateInputForm('apellidos','alfabetico')"
              formControlName="apellidos" maxlength="30" dirAlphabeticInput autocomplete="off" />
            <app-validate-inputs-form [form]="registroForm" formInput='apellidos' labelInput="Apellidos">
            </app-validate-inputs-form>
          </div>
          <div class="field col-12 md:col-4">
            <label>Correo Electrónico <span style="color: #FA7272;" *ngIf="isFieldRequired('correo')"> * </span></label>
            <input id="correo" type="text" pInputText   formControlName="correo" maxlength="100" autocomplete="off" />
            <app-validate-inputs-form [form]="registroForm" formInput='correo' labelInput="Correo">
            </app-validate-inputs-form>
          </div>
          <div *ngIf="mostrarCampo" class="field col-12 md:col-4" >
            <label>EPS <span style="color: #FA7272;" *ngIf="isFieldRequired('selEmpresa')"> * </span></label>
            <p-dropdown inputId="selEmpresa" [options]="empresasLista" placeholder="Seleccionar" formControlName="selEmpresa"
              [showClear]="true" [filter]="true">
            </p-dropdown>
            <app-validate-inputs-form [form]="registroForm" formInput='selEmpresa' labelInput="Empresa"></app-validate-inputs-form>
          </div>
          <div *ngIf="mostrarCampo" class="field col-12 md:col-4">
            <label>Usuario <span style="color: #FA7272;" *ngIf="isFieldRequired('username')"> * </span></label>
            <input id="username" type="text" pInputText   formControlName="username" maxlength="30" dirUserNameInput autocomplete="off" />
            <app-validate-inputs-form [form]="registroForm" formInput='username' labelInput="Usuario">
            </app-validate-inputs-form>
          </div>
         <!-- <div class="field col-12 md:col-4">
            <label>Contraseña:</label>
            <input id="password" type="password" pInputText formControlName="password" maxlength="255" autocomplete="off"  />
            <app-validate-inputs-form [form]="registroForm" formInput='password' labelInput="Contraseña">
            </app-validate-inputs-form>
          </div>  -->
          <div class="field col-12 md:col-4">
            <label>Teléfono <span style="color: #FA7272;" *ngIf="isFieldRequired('telefono')"> * </span></label>
            <input id="telefono" formControlName="telefono" (input)="validateInputForm('telefono','numerico')" maxlength="9"
              dirTelefonoInput pInputText pKeyFilter="int" placeholder="Ingrese su número de teléfono" type="text" autocomplete="off" />
              <app-validate-inputs-form [form]="registroForm" formInput='telefono' labelInput="Teléfono">
              </app-validate-inputs-form>
          </div>
          <div class=" col-1 md:col-8">
            <p><label>Estado:</label></p>
            <p-inputSwitch formControlName="estado" id="estado"></p-inputSwitch>
          </div>
          <div class="col-4">
            <button pButton type="button" label="RESTABLECER PASSWORD" class="p-button-text" (click)="actualizarTokenPassword()"></button>
          </div>
          <div class="col-12 flex  justify-content-center">
            <p-button type="button" label="Guardar" icon="pi pi-save" iconPos="left" class="p-button-secondary ml-1"
              (click)="onGuardar()">
            </p-button>
            <p-button type="button" label="Cancelar" icon="pi pi-times" iconPos="left" class="ml-1" [styleClass]="'p-button-danger'"
              (click)="onCancelEdit()">
            </p-button>
          </div>
        </div>
      </form>
    </div>
  </div>


</div>
