/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

input:disabled {
    background-color: #e7dedeec;
    border: 1px solid #8b8989;
    color: #000000;
  }

  /*Estilos para modificar el alto del modal (pantalla empredad)*/
.dialog-for-display-default {
      height: 40%;
  }

/*Estilos para componente Dialog de Primeng*/
.p-dialog .p-dialog-header {
    display: none;
}

.p-dialog-mask {
  pointer-events: inherit !important;
}

.p-datepicker .p-datepicker-month, .p-datepicker .p-datepicker-year {
  padding: 5px;
  font-size: 14px;
  border-radius: 25px;
  background: #fff;
  border: 1px solid #9f9696;
}

.modal-sweet-ancho {
  width: 700px;
}

.grid-inputs-modal {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: center;
}

.text-left {
  text-align: left;
}