<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 mt-2">

        <!-- Filtros -->
        <div class="card pdn-15"  *ngIf="isRoleAdminAndConsultor">
          <div class="border-0 text-center">
            <h2>Filtros de búsqueda</h2>
          </div>
          <div class="d-flex flex-wrap">
            <form [formGroup]="filtroForm"  class="d-flex flex-wrap gap-2">
              <div *ngFor="let field of ['eps', 'estado', 'fechaDesde', 'fechaHasta', 'anio']; let i = index">
                <div [ngSwitch]="field" >
                  <div>
                    <span class="p-float-label" *ngSwitchCase="'eps'">
                      <p-dropdown inputId="selEmpresa" [options]="empresasLista" placeholder="Seleccionar EPS" formControlName="eps"
                                  [showClear]="true" [filter]="true"></p-dropdown>
                    </span>
                  </div>
                  <div>
                    <span class="p-float-label" *ngSwitchCase="'estado'">
                      <p-dropdown formControlName="estado" placeholder="Estado" [options]="estados">
                      </p-dropdown>
                    </span>
                  </div>
                  <div>
                    <span class="p-float-label" *ngSwitchCase="'anio'">
                      <p-dropdown formControlName="anio" [options]="years" placeholder="Año"></p-dropdown>
                    </span>
                  </div>
                  <div>
                    <span class="p-float-label" *ngSwitchCase="'fechaDesde'">
                      <p-calendar id="fechaDesde" dateFormat="yy-mm-dd" formControlName="fechaDesde" ></p-calendar>
                      <label for="fechaDesde">Fecha Desde</label>
                    </span>
                  </div>
                  <div>
                    <span class="p-float-label" *ngSwitchCase="'fechaHasta'">
                      <p-calendar id="fechaHasta" dateFormat="yy-mm-dd" formControlName="fechaHasta"></p-calendar>
                      <br>
                      <small *ngIf="filtroForm.get('fechaHasta').errors?.required" style="color: red;" >La fecha hasta es requerida</small>
                      <label for="fechaHasta">Fecha Hasta</label>
                    </span>
                  </div>
                </div>
              </div>
              <div class="d-flex gap-2">
                <button pButton type="button" label="Buscar" icon="pi pi-search" (click)="buscar()" class="align-left"></button>
                <button pButton type="button" label="Limpiar" icon="pi pi-eraser" (click)="limpiar()" class="p-button-secondary"></button>
              </div>
              <div class="row mt-3">
                <div class="col-md-12">
                  <small *ngIf="filtroForm.errors?.fechaComparison" style="color: red;" >La fecha Hasta debe ser mayor o igual a la fecha Desde</small>
                </div>

              </div>
            </form>
          </div>
        </div>
        <!-- Botón Registrar -->
        <div class="card pdn-15">
          <div class="card-header border-0">
            <button  class="btn btn-success mt-2 mr-2" *ngIf="isRoleRegistrador"
                     (click)="redirectToForm()"
                     [disabled]="registroCompleto"
                     [pTooltip]="registroCompleto ? 'Ya existe un registro VMA en curso' : 'Registrar nuevo VMA'"
                     tooltipPosition="top"><i class="pi pi-plus"></i>  Registrar</button>
            
            <button pButton label="Descargar Excel" class="p-button-success float-right" icon="pi pi-download" iconPos="right"
                    *ngIf="isRoleAdminAndConsultor"
                    (click)="descargar()"></button>
            <span *ngIf="registroCompleto && isRoleRegistrador" class="registro-indisponible">
                          No es posible registrar un nuevo VMA. Ya existe uno en curso o la fecha actual no está dentro del período programado.
                        </span>
          </div>
        </div>

        <div class="card pdn-15" *ngIf="showResultados">

          <div class="content">
            <div class="col-md-12">
              <div class="card-body p-0">

                <p-table #dt1 [value]="ListRegistroVMA"
                         [globalFilterFields]="['empresa.nombre', 'estado', 'empresa.tipo','empresa.regimen','created_at', 'fichaRegistro.anio']"
                         responsiveLayout="scroll"
                         [lazy]="true"
                         [paginator]="true"
                         [rows]="10"
                         [showCurrentPageReport]="true"
                         [totalRecords]="totalRecords"
                         [rowsPerPageOptions]="[10,25,50,100]"
                         (onLazyLoad)="buscar($event)"
                         currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
                         styleClass="p-datatable-customers p-datatable-gridlines p-datatable-sm">

                  <ng-template pTemplate="caption">
                    Buscar:
                    <span class="p-input-icon-left p-ml-auto">
                                      <i class="pi pi-search"></i>
                                      <input pInputText type="text" [formControl]="formBusqueda" placeholder="Ingresar texto" />
                                  </span>
                  </ng-template>
                  <ng-template pTemplate="header">
                    <tr>
                      <th style="width: 3rem" *ngIf="!isRoleRegistrador">
                        <!--<input type="checkbox" class="custom-checkbox" [formControl]="formCheckBox"> -->
                      </th>
                      <th style="text-align:center;width: 5%;">N°</th>
                      <th>Empresa EPS</th>
                      <th style="width: 15%;">Tamaño de la EPS</th>
                      <th style="width: 10%;">Régimen</th>
                      <th style="width: 12%;">Estado</th>
                      <th style="width: 15%;">Fecha de registro</th>
                      <th style="text-align:center;width: 7%;">Año</th>
                      <th style="text-align:center;width: 7%;">Acciones</th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-item let-ri="rowIndex" let-first="first">
                    <tr>
                     <!--  <td *ngIf="!isRoleRegistrador ">-->
                        <td *ngIf="!isRoleRegistrador && (item.estado === 'COMPLETO' || item.estado === 'INCOMPLETO')">

                        <input class="custom-checkbox" type="checkbox" (change)="onCheckboxChange($event, item)"  [checked]="item.seleccionado">
                      </td>
                      <td style="text-align:center;">{{ri + 1}}</td>
                      <td>{{item.empresa?.nombre}}</td>
                      <td>{{item.empresa.tipo}}</td>
                      <td>{{item.empresa.regimen}}</td>
                      <td>{{item.estado}}</td>
                      <td>{{item.createdAt | date: 'dd-MM-yyy hh:mm'}}</td>
                      <td style="text-align:center;">{{item.fichaRegistro.anio}}</td>
                      <td style="text-align:center" class="">
                        <div class="d-flex gap-2">
                          <button pButton type="button" [icon]="isRoleRegistrador && item.estado !== 'COMPLETO' ? 'pi pi-pencil' : 'pi pi-eye'" style="width: 30px; height: 20px;"
                                  [pTooltip]="isRoleRegistrador && item.estado !== 'COMPLETO' ? 'Editar registro' : 'Visualizar registro'" tooltipPosition="top"
                                  (click)="redirectToFormUpdate(item.idRegistroVma)">
                          </button>
                          <button pButton type="button" style="width: 30px; height: 20px;"
                                  *ngIf="isRoleAdminAndConsultor && item.estado === 'COMPLETO'"
                                  [pTooltip]="'Volver a editar'" tooltipPosition="top"
                                  [icon]="'pi pi-pencil'"
                                  (click)="cambiarEstadoIncompleto(item.idRegistroVma)">
                          </button>
                        </div>
                      </td>
                    </tr>
                  </ng-template>

                </p-table>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<app-loading *ngIf="isLoading"></app-loading>